# Keil MDK 项目 完整忽略规则
*.uvoptx             
*.uvguix.*         
*.uvgui.*           
JLinkLog.txt
*.jlink 
*.ini
*.o
*.obj
*.d
*.crf 
*.axf
*.hex
*.bin
*.map
*.lst
*.lnp
*.htm
*.build_log.htm
*.dep
*.iex
MDK-ARM/
Objects/
Listings/
DebugConfig/
RTE/
*.bak
*.__i
*._ia
*.scvd
.vscode/
.idea/
*.user
*.suo
*.sdf
*.opensdf
*.bat
.DS_Store
Thumbs.db
Desktop.ini

#.mxproject
#*.ioc